.navigation {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    font-family:'Source Serif Pro', serif;
    justify-content: space-evenly;
    align-content: center;
}

 .images {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
   
 }

 .countryinformation {
     width: 95vw;
     display: flex;
     align-content: center;
     justify-content: space-evenly;
     font-family: 'Karla', sans-serif;
 }

 .countryname {
     font-family: 'Source Serif Pro', serif;
     font-weight: bold;
     text-align: center;
 }
 
 .cities {
    font-family: 'Karla', sans-serif;
    border: 1px solid black;
    padding: 1em;
    padding-left: 2em;
    flex-basis: 25%; 
 }
 

 .landmarks {
    font-family: 'Karla', sans-serif;
    border: 1px solid black;
    padding: 1em;
    padding-left: 2em;
    flex-basis: 25%;
    
 }

 .citizens {
    font-family: 'Karla', sans-serif;
    border: 1px solid black;
    padding: 1em;
    padding-left: 2em;
    flex-basis: 25%; 
 }

 .subheading {
     font-weight: bold;
 }

 .navigation a{
    display: inline-block;
    padding: 0.5em o.75em;
    border-radius: 4px;
    text-decoration: none;
}
 .navigation li{
     display: inline-block;
 }
 
 .navigation .current{
     background-color: rgb(255, 0, 157);
 }