.logo img{
    padding: 2em;
    width: 248px;
    height: 90px;
}
body {
    font-family: 'Karla', sans-serif;
    background-color: #c0ded9 ;
    
}
.navigation {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    font-family:'Source Serif Pro', serif;
    font-size: 16pt;
    justify-content: space-evenly;
    align-content: center;
    background-color: #b2c2bf;
    margin-bottom: 2em;
    margin-left: 0.5em;
    padding: 0.5em;
}
footer {
    border: 1px dotted black;
    padding: 10px;
    background-color: #b2c2bf;
    margin-top: 2em;
}
/* Main body */
.main-column {
    overflow: hidden;
    flex-wrap: wrap;
    border: dotted 1px black;  
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}
/* Germany Column */
.main1 {
    font-size: .8em;
    overflow: auto;
    flex-wrap: wrap;
    border: dotted 1px black;
    flex-basis: 20%;
    padding: 1em;
}
/* Italy Column */
.main2 {
    font-size: .8em;
   overflow: auto;
    flex-wrap: wrap;
    border: dotted 1px black;
    flex-basis: 20%;
    padding: 1em;
}
/* Spain Column */
.main3 {
    font-size: .8em;
    overflow: auto;
    flex-wrap: wrap;
    border: dotted 1px black;
    flex-basis: 20%;
    padding: 1em;
}
/* Scotland Column */
.main4 {
    font-size: .8em;
    overflow: auto;
    flex-wrap: wrap;
    border: dotted 1px black;
    flex-basis: 20%;
    padding: 1em;
    object-fit: contain;
}

/* body images */
img {
    width: 100%;
    height: 50%;
}

/* Image in scotland */

